@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.wrapper{
    width:900px;
    margin:auto;
    background-color: lightgrey;
    border:black 1px solid;
    padding: 26px 0;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    border:solid 10px rgb(151, 148, 148);
    width:848px;
    margin:auto;
}

.cell {
    flex-basis:100px;
    border-right:dotted 6px black;
    border-bottom:dotted 6px black;
    text-align:center;
}

img {
    display:block;
    width:98px;
    height:98px;
}

.number{
  line-height: 100px;
  font-size: 90px;
  font-family: 'VT323', monospace;
}

.hidden{
    border-top:solid 6px rgba(255,255,255,1);
    border-left:solid 6px rgba(255,255,255,1);
    border-right:solid 6px rgba(151, 148, 148,1);
    border-bottom:solid 6px rgb(151, 148, 148,1);
    box-shadow:6px 6px 0 rgba(0,0,0,1);
    width:88px;
    height:88px;
    line-height: 88px;
    font-size: 90px;
    font-family: 'VT323', monospace;
    color:rgba(0,0,255,0);
}

.hidden:hover {
    border-top:solid 6px rgba(255,255,255,0);
    border-left:solid 6px rgba(255,255,255,0);
    border-right:solid 6px rgba(151, 148, 148,0);
    border-bottom:solid 6px rgba(151, 148, 148,0);
    box-shadow:6px 6px 0 rgba(0,0,0,0);
}

.oneHidden {
    color:rgba(0,0,255,0);
} 

.one, .oneHidden:Hover {
    color:rgba(0,0,255,1);
    transition:border 0.8s, color 0.8s;
}

.twoHidden {
    color:rgba(0,128,0,0);
}

.two, .twoHidden:hover {
    color:rgba(0,128,0,1);
    transition:border 0.8s, color 0.8s;
}

.threeHidden {
    color:rgba(255,0,0,0);
}

.three, .threeHidden:hover {
    color:rgba(255,0,0,1);
    transition:border 0.8s, color 0.8s;
}
